In [132]:
import numpy as np
import pandas as pd
from sklearn import datasets
import io
#from io import StringIO
#pandas 可以支援多種文字、二進位檔案與資料庫的資料載入，常見的 txt、csv、excel 試算表、MySQL 或 PostgreSQL 都難不倒

In [133]:
csv_data = '''A,B,C,D,E
            5.0,2.0,3.0,,6
            1.0,6.0,,8.0,5
            0.0,11.0,12.0,4.0,5
            3.0,,3.0,5.0,
            5.0,1.0,4.0,2.0,4
           '''
# csv_data
# type(io.StringIO(csv_data))

In [134]:
df = pd.read_csv(StringIO(csv_data)) #pd.read_csv讀csv檔,StringIO(csv_data)轉 io.StringIO物件型態
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [135]:
df.dropna()

     A     B     C    D    E
2  0.0  11.0  12.0  4.0  5.0
4  5.0   1.0   4.0  2.0  4.0

In [136]:
df.dropna(how='all')

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   NaN   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [137]:
df.dropna(subset=['B'])

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
4  5.0   1.0   4.0  2.0  4.0

In [138]:
df.fillna(0)

     A     B     C    D    E
0  5.0   2.0   3.0  0.0  6.0
1  1.0   6.0   0.0  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   0.0   3.0  5.0  0.0
4  5.0   1.0   4.0  2.0  4.0

In [139]:
df['B'] = df['B'].fillna(df['B'].mean()) #B欄位的平均數
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   5.0   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [140]:
df['C'] = df['C'].fillna(df['C'].mode())
df

     A     B     C    D    E
0  5.0   2.0   3.0  NaN  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   5.0   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [141]:
df['D'] = df['D'].fillna(df['D'].median()) #4+5/2=4.5 中位數
df

     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   5.0   3.0  5.0  NaN
4  5.0   1.0   4.0  2.0  4.0

In [142]:
df['E'] = df['E'].fillna(df['E'].min()) #補最小數
df

     A     B     C    D    E
0  5.0   2.0   3.0  4.5  6.0
1  1.0   6.0   NaN  8.0  5.0
2  0.0  11.0  12.0  4.0  5.0
3  3.0   5.0   3.0  5.0  4.0
4  5.0   1.0   4.0  2.0  4.0

In [143]:
df2 = pd.DataFrame(
    [['green', 'M', 10.1, 1],
    ['red', 'L', 13.5, 2],
    ['blue', 'XL', 15.3, 1],
    ['black', 'XS', 9.3, 1]]
)
df2.columns = ['color', 'size', 'price', 'classlabel']

In [144]:
size_mapping = {
    'XL':3,
    'L':2,
    'M':1,
    'XS':5
}
df2['size'] = df2['size'].map(size_mapping)
df2

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           2
2   blue     3   15.3           1
3  black     5    9.3           1

In [145]:
pd.get_dummies(df2['color']) #onehot-encoding

   black  blue  green  red
0      0     0      1    0
1      0     0      0    1
2      0     1      0    0
3      1     0      0    0

In [146]:
onehot_encoding = pd.get_dummies(df2['color'], prefix = 'color') #prefix = 'color' 在欄位前面的字+自訂義字串
onehot_encoding

   color_black  color_blue  color_green  color_red
0            0           0            1          0
1            0           0            0          1
2            0           1            0          0
3            1           0            0          0

In [155]:
df2 = df2.drop('color',1) # 第二個參數指的是軸，軸＝１代表行，軸＝０代表列，所以color那行的資料drop掉
df2

   color  size  price  classlabel
0  green     1   10.1           1
2   blue     3   15.3           1
3  black     5    9.3           1

In [158]:
pd.concat([onehot_encoding, df2],axis=1) # 將

,color_black,color_blue,color_green,color_red,color,size,price,classlabel
0,0,0,1,0,green,1,10.1,1
1,0,0,0,1,red,2,13.5,2
2,0,1,0,0,blue,3,15.3,1
3,1,0,0,0,black,5,9.3,1

In [159]:
#資料特徵縮放，在吳恩達的機器學習課程中有提到特徵縮放後能夠讓我們在做梯度下降時收斂更快。
#舉例來說當某一個特徵範圍在零到兩千之間、另一個為一到五，當我們在做梯度下降時，整個等高線圖會呈現橢圓的形狀，因此收斂時沒辦法直接朝圓心(最低點)前進。
#最常見的Normalization為0–1區間縮放
from IPython.display import Math
Math(r'x^{(i)}_{norm}=\frac{x^{(i)}-x_{min}}{x_{max}-x_{min}}')

In [173]:
iris = datasets.load_iris()
x = pd.DataFrame(iris['data'], columns=iris['feature_names'])
print("target_names: "+str(iris['target_names'])) #target_names共有三種鳶尾花 setosa=0, versicolor=1, virginica=2
y = pd.DataFrame(iris['target'], columns=['target_names'])
data = pd.concat([x,y], axis=1)
data.head(100)#顯示頭100個資料

target_names: ['setosa' 'versicolor' 'virginica']

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
5,5.4,3.9,1.7,0.4,0
6,4.6,3.4,1.4,0.3,0
7,5.0,3.4,1.5,0.2,0
8,4.4,2.9,1.4,0.2,0
9,4.9,3.1,1.5,0.1,0
10,5.4,3.7,1.5,0.2,0
11,4.8,3.4,1.6,0.2,0
12,4.8,3.0,1.4,0.1,0
13,4.3,3.0,1.1,0.1,0
14,5.8,4.0,1.2,0.2,0
15,5.7,4.4,1.5,0.4,0
16,5.4,3.9,1.3,0.4,0
17,5.1,3.5,1.4,0.3,0
18,5.7,3.8,1.7,0.3,0
19,5.1,3.8,1.5,0.3,0
20,5.4,3.4,1.7,0.2,0
21,5.1,3.7,1.5,0.4,0
22,4.6,3.6,1.0,0.2,0
23,5.1,3.3,1.7,0.5,0
24,4.8,3.4,1.9,0.2,0
25,5.0,3.0,1.6,0.2,0
26,5.0,3.4,1.6,0.4,0
27,5.2,3.5,1.5,0.2,0
28,5.2,3.4,1.4,0.2,0
29,4.7,3.2,1.6,0.2,0
...,...,...,...,...,...
70,5.9,3.2,4.8,1.8,1
71,6.1,2.8,4.0,1.3,1
72,6.3,2.5,4.9,1.5,1
73,6.1,2.8,4.7,1.2,1
74,6.4,2.9,4.3,1.3,1
75,6.6,3.0,4.4,1.4,1
76,6.8,2.8,4.8,1.4,1
77,6.7,3.0,5.0,1.7,1
78,6.0,2.9,4.5,1.5,1
79,5.7,2.6,3.5,1.0,1
80,5.5,2.4,3.8,1.1,1
81,5.5,2.4,3.7,1.0,1
82,5.8,2.7,3.9,1.2,1
83,6.0,2.7,5.1,1.6,1
84,5.4,3.0,4.5,1.5,1
85,6.0,3.4,4.5,1.6,1
86,6.7,3.1,4.7,1.5,1
87,6.3,2.3,4.4,1.3,1
88,5.6,3.0,4.1,1.3,1
89,5.5,2.5,4.0,1.3,1
90,5.5,2.6,4.4,1.2,1
91,6.1,3.0,4.6,1.4,1
92,5.8,2.6,4.0,1.2,1
93,5.0,2.3,3.3,1.0,1
94,5.6,2.7,4.2,1.3,1
95,5.7,3.0,4.2,1.2,1
96,5.7,2.9,4.2,1.3,1
97,6.2,2.9,4.3,1.3,1
98,5.1,2.5,3.0,1.1,1
99,5.7,2.8,4.1,1.3,1

In [182]:
data['sepal length (cm)'] = (data['sepal length (cm)'] - data['sepal length (cm)'].min())/(data['sepal length (cm)'].max() - data['sepal length (cm)'].min())
data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,0.222222,3.5,1.4,0.2,0
1,0.166667,3.0,1.4,0.2,0
2,0.111111,3.2,1.3,0.2,0
3,0.083333,3.1,1.5,0.2,0
4,0.194444,3.6,1.4,0.2,0
5,0.305556,3.9,1.7,0.4,0
6,0.083333,3.4,1.4,0.3,0
7,0.194444,3.4,1.5,0.2,0
8,0.027778,2.9,1.4,0.2,0
9,0.166667,3.1,1.5,0.1,0
10,0.305556,3.7,1.5,0.2,0
11,0.138889,3.4,1.6,0.2,0
12,0.138889,3.0,1.4,0.1,0
13,0.000000,3.0,1.1,0.1,0
14,0.416667,4.0,1.2,0.2,0
15,0.388889,4.4,1.5,0.4,0
16,0.305556,3.9,1.3,0.4,0
17,0.222222,3.5,1.4,0.3,0
18,0.388889,3.8,1.7,0.3,0
19,0.222222,3.8,1.5,0.3,0
20,0.305556,3.4,1.7,0.2,0
21,0.222222,3.7,1.5,0.4,0
22,0.083333,3.6,1.0,0.2,0
23,0.222222,3.3,1.7,0.5,0
24,0.138889,3.4,1.9,0.2,0
25,0.194444,3.0,1.6,0.2,0
26,0.194444,3.4,1.6,0.4,0
27,0.250000,3.5,1.5,0.2,0
28,0.250000,3.4,1.4,0.2,0
29,0.111111,3.2,1.6,0.2,0
...,...,...,...,...,...
120,0.722222,3.2,5.7,2.3,2
121,0.361111,2.8,4.9,2.0,2
122,0.944444,2.8,6.7,2.0,2
123,0.555556,2.7,4.9,1.8,2
124,0.666667,3.3,5.7,2.1,2
125,0.805556,3.2,6.0,1.8,2
126,0.527778,2.8,4.8,1.8,2
127,0.500000,3.0,4.9,1.8,2
128,0.583333,2.8,5.6,2.1,2
129,0.805556,3.0,5.8,1.6,2
130,0.861111,2.8,6.1,1.9,2
131,1.000000,3.8,6.4,2.0,2
132,0.583333,2.8,5.6,2.2,2
133,0.555556,2.8,5.1,1.5,2
134,0.500000,2.6,5.6,1.4,2
135,0.944444,3.0,6.1,2.3,2
136,0.555556,3.4,5.6,2.4,2
137,0.583333,3.1,5.5,1.8,2
138,0.472222,3.0,4.8,1.8,2
139,0.722222,3.1,5.4,2.1,2
140,0.666667,3.1,5.6,2.4,2
141,0.722222,3.1,5.1,2.3,2
142,0.416667,2.7,5.1,1.9,2
143,0.694444,3.2,5.9,2.3,2
144,0.666667,3.3,5.7,2.5,2
145,0.666667,3.0,5.2,2.3,2
146,0.555556,2.5,5.0,1.9,2
147,0.611111,3.0,5.2,2.0,2
148,0.527778,3.4,5.4,2.3,2
149,0.444444,3.0,5.1,1.8,2

In [179]:
#資料標準化
#經過Standardization之後，資料會符合常態分佈
#不會有偏單邊的形況，由於常態分佈機器學習的加權迭代學習(梯度下降)可以更容易完成。
Math(r'x^{(i)}_{std}=\frac{x^{(i)}-\mu_{x}}{\sigma_{x}}')

In [183]:
data['sepal width (cm)'] = (data['sepal width (cm)'] - data['sepal width (cm)'].mean())/\
                            (data['sepal width (cm)'].std())
data.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target_names
0,0.222222,1.015602,1.4,0.2,0
1,0.166667,-0.131539,1.4,0.2,0
2,0.111111,0.327318,1.3,0.2,0
3,0.083333,0.097889,1.5,0.2,0
4,0.194444,1.245030,1.4,0.2,0